{%  extends 'groups/group_base.html' %}
{% block pre_group %}
<div class="col-md-8">
    <div class="content">
        {% if user.is_authenticated %}
        <h2>Welcome Back!<a href="{% url 'posts:for_user' username=user.username %}">@{{user.username}}</a></h2>
        {% endif %}
        <h2>Groups</h2>
        <p>Welcome to groups page!</p>
    </div>
    {% if user.is_authenticated %}
    <a href="{% url 'groups:create' %}" class="btn btn-pill btn-primary">Create New Group!</a>
    <a href="{% url 'posts:create' %}" class="btn btn-primary btn-pill">Create Post!</a>
    {% endif %}
</div>
{% endblock %}

{% block group_content %}
<div class="col-md-8">
    <div class="list-group">
        {% for group in group_list %}

        <a href="{% url 'groups:single' slug=group.slug %}" class="list-group-item">
            <h3 class="title list-group-item-heading">{{group.name}}</h3>
            <div class="container-fluid list-group-item-text ">{{group.description_html|safe}}
            <div class="row">
                <div class="col-md-4">
                    members {{group.members.count}}
                </div>
                <div class="col-md-4">
                    posts {{group.posts.count}}
                </div>
            </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
