{% extends 'posts/post_base.html' %}
{% block pre_post %}
{% if request.user.is_authenticated %}           <!--   #add request. before user if it give error-->
<div class="card card-with-shadow">
    <div class="content">
        <h5 class="title opposite">Yours Groups</h5>
        <ul class="list-unstlyed">
            {% for member_group in user.user_groups.all %}      <!--      #get_user_groups is made from related name through template register-->
            <li class="group li-with-bullet"><a href="{% url 'groups:single' slug=member_group.group.slug %}">{{member_group.group.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endif %}

{% endblock %}

{% block post_content %}
<div class="col-md-8">
    {% for post in post_list %}
        {% include 'posts/_post.html' %}
    {% endfor %}
</div>
{% endblock %}